@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {

} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased; /* For WebKit browsers */
  -moz-osx-font-smoothing: grayscale; /* For Firefox on macOS */
}

.checkout-row-section {
  width: 23%;
  text-transform: capitalize;
  border-left: 4px solid red;
}
